body{
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;

}
#profile-section{
    background-image: url(images/familfy.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 46%;
    margin: 0 2%;
}
.half-width img{
    max-width: 100%;
    
}

.blue-color{
    color: blue;
}
.section-data{
    display: ;
}
h1{
    color: green;
    font-size: 50px;
}
h2{
    color: green;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, brown);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 700;
}
#about-section{
    background-image: url(images/about-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: justify;
}
.item-image{
    height: auto;
    width: 300px;
}
.item-div{
    width: 30%;
}