body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 50px;
}
.flexible-container{
    display: flex;

}
#profile-section{
    background-image: url(images/familfy.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 46%;
    margin: 0 2%;
}
.half-width img{
    max-width: 100%;
    
}

.blue-color{
    color: blue;
}
#white-color{
    color: white;
}
.section-data{
    display: ;
}
h1{
    color: green;
    font-size: 50px;
}
h2{
    color: green;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, brown);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 700;
}
#about-section{
    background-image: url(images/about-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: justify;
}
#item-section{
    width: 100%;
}
.item-div{
    width: 30%;
    margin: 0 1.5%;
    padding: 2%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.item-image{
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.food-corner{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.food-corner p{
    text-align: center;
}
#promotion-section{
    width: 96%;
    margin: 0 2%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.promotion-item-div{
    width: 30%;
    margin: 0 1.5%;
    padding: 2%;
    margin-left: 150px;
    
}
footer{
    width: 100%;
    margin-top: 50px;
    padding: 30px 0;
    background-color: grey;
    text-align: center;
}
footer p{
    text-align: center;
}